<table>
  <tr>
      <td valign="middle" class="ticket-actual">
          <span id="lblTicket1" class="ticket-actual-numero">Ticket: {{ actual.numero }}</span>
          <br>
          <span id="lblEscritorio1" class="ticket-actual-escritorio">Escritorio {{ actual.escritorio }}</span>
      </td>
      <td>
          <table>
              <tr *ngFor="let item of ultimosCuatro">
                  <td>
                      <span id="lblTicket2" class="ticket-secundario">Ticket: {{ item.numero }}</span>
                      <br>
                      <span id="lblEscritorio2">Escritorio: {{ item.escritorio }}</span>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
</table>